* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bouton {
    padding: 12px 28px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: #378ADD;
    color: white;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.bouton:hover {
    opacity: 0.8;
}

.bouton:active {
    transform: scale(0.95);
}